<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="StringConexao"
         connectionString="Server=localhost;Database=Teste;User Id=teste_aplicacao;Password=teste@123;"/>
  </connectionStrings>
  <appSettings>
    <add key="EnderecoEnvioXML" value="D:\Aplicacao"/>
  </appSettings>
</configuration>